<div>
    <h1>Productos en tiempo real</h1>
    <h2>Productos agregados</h2>
    <table>
        <thead>
            <th>Id</th>
            <th>Title</th>
            <th>Description</th>
            <th>Price</th>
            <th>Image</th>
            <th>Code</th>
            <th>Stock</th>
            <th>Status</th>
            <th>Category</th>
        </thead>
        <tbody id="prod-body">
        </tbody>
    </table>
    <h2>Agregar nuevo producto</h2>
    <form id="prod-form">
        <label>Título:</label>
        <input type="text" name="Título" id="titulo" required>

        <label>Descripción:</label>
        <input type="text" name="Descripción" id="descripcion" required>

        <label>Precio:</label>
        <input type="number" name="Precio" id="precio" required>

        <label>Código:</label>
        <input type="text" name="Código" id="codigo" required>

        <label>Stock:</label>
        <input type="number" name="Stock" id="stock" required>

        <label>Categoría:</label>
        <input type="text" name="Categoría" id="categoria" required>

        <button type="submit">Agregar producto</button>
    </form>
    
</div>